@using SmartFeeder.Core.ViewModels
@model FeedingViewModel

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Хранилка за мачкии.</p>
    <p><a href="~/api/feeder/feed" class="btn btn-primary btn-lg">Нахрани я! >></a></p>
</div>
