@using SmartFeeder.Core.ViewModels
@model FeedingViewModel

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Хранилка за мачкии.</p>
    <p>@Html.ActionLink("Нахрани я! >>", "Feed", "Feeder", new { @class = "btn btn-primary btn-lg" }) 
</div>
